.plansScreen__plans {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plansScreen__plans:hover {
  opacity: 1;
}

.plansScreen__plans > button {
  padding: 10px 20px;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}