.profileScreen {
	height: 100vh;
	color: white;
}

.profileScreen__body {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
	padding-top: 8%;
	max-width: 800px;

	h1 {
		font-size: 60px;
		font-weight: 400;
		border-bottom: 1px solid #282c2d;
		margin-bottom: 20px;
	}
}

.profileScreen__info {
	display: flex;

	.profileScreen__image {
		height: 100px;
	}
}

.profileScreen__details {
	color: white;
	margin-left: 25px;
	flex: 1;

	h2 {
		background-color: gray;
		padding: 15px;
		font-size: 15px;
		padding-left: 20px;
	}
}

.profileScreen__plans {
	h3 {
		border-bottom: 1px solid #282c2d;
		padding-bottom: 10px;
		margin-top: 20px;
	}
}

.profileScreen__signOut {
	padding: 10px 20px;
	font-size: 1rem;
	width: 100%;
	margin-top: 5%;
	color: white;
	background-color: #e50914;
	font-weight: 600;
	border: none;
	cursor: pointer;
}